<a href="https://colab.research.google.com/github/satishkolde/CV/blob/main/operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
print(lst1+lst2)
print([*lst1,*lst2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst[1:3])
print(lst[:4])
print(lst[3:])
print(lst[:])

[2, 3]
[1, 2, 3, 4]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
print(lst[0:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(lst[-7:-1])

[4, 5, 6, 7, 8, 9]

In [13]:
w = 'python'
print(w[-1])
print(w[-2])
print(w[1:3])
print(w[2:5])
print(w[:5])
print(w[2:])
print(w[-3])
print(w[-3:1])
print(w[-3:-1])
print(w[-6:-1])

n
o
yt
tho
pytho
thon
h

ho
pytho

In [14]:
print(w[::-1])

nohtyp

In [17]:
# deleting elements form the list
lst = [-1,1,66.25,333,333,1234.5]
del lst[0]
print(lst)
del lst[2:4]
print(lst)
del lst[:]
print(lst)

[1, 66.25, 333, 333, 1234.5]
[1, 66.25, 1234.5]
[]

In [18]:
prime_number = [2,3,5,7,9,11]
prime_number.remove(9)

print("Updated list : ",prime_number)

lst = [1,2,3,4]
print("Poped element : ",lst.pop())
print("Poped element at index 1 : ",lst.pop(1))

print("Updated list : ",lst)

Updated list :  [2, 3, 5, 7, 11]
Poped element :  4
Poped element at index 1 :  2
Updated list :  [1, 3]

In [19]:
lst = [1,2,3,4]
print("Poped element at index 1 : ",lst[1:2].pop())

Poped element at index 1 :  2

In [20]:
li = ['a','b','new','mpilgrim','z','example','new','two','elements']
print(li.index('example'))
print(li.index('new'))
try:
  print(li.index('c'))
except:
  print("value is not found")
print('c' in li)

5
2
value is not found
False

In [28]:
fruit = [['Orange','Fruit'],["Banana","Fruit"],['Mango','Fruit']]
consume = ['Juice','Eat']
possible = []

for item in fruit:
  for use in consume:
    item.append(use)
    possible.append(item[:])
    item.pop(-1)

# print(possible == fruit)
print(possible)
print(fruit)

[['Orange', 'Fruit', 'Juice'], ['Orange', 'Fruit', 'Eat'], ['Banana', 'Fruit', 'Juice'], ['Banana', 'Fruit', 'Eat'], ['Mango', 'Fruit', 'Juice'], ['Mango', 'Fruit', 'Eat']]
[['Orange', 'Fruit'], ['Banana', 'Fruit'], ['Mango', 'Fruit']]

In [35]:
'''built in list functions'''
lst = [1,2,3,4,5,6,7,8,9,10]
lst = list(map(lambda x:x**2,lst))
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
squares = [x**2 for x in range(1,11) if x%2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [43]:
lstOfWords = ["this","is","a","list",'of',"words"]
items = [i[0] for i in lstOfWords]
print(items)

string = "Hello 12345 World"
numbers = [x for x in string if x.isdigit()]
print(numbers)

['t', 'i', 'a', 'l', 'o', 'w']
['1', '2', '3', '4', '5']

In [44]:
lst = (4,3,2,1)

for i in lst:
  print(i,end=" ")
print()

for i in lst[::-1]:
  print(i,end=" ")
print()

for i in ['Apple','Banana','Pear']:
  print(i,end=" ")
print()

for i in 'Apple':
  print(i,end=" ")
print()

4 3 2 1
1 2 3 4
Apple Banana Pear
A p p l e

In [46]:
nums = [10,20,30,40,50,60]
sum = 0
print("Method One")
for k in nums:
  sum += k
print(sum)


print("Method Two")
sum = 0
for k in range(len(nums)):
  sum += nums[k]
print(sum)

Method One
210
Method Two
210

In [50]:
my_tuple = ()
print(my_tuple)

my_tuple = (1,2,3)
print(my_tuple)

my_tuple = (1,"Hello",3.4)
print(my_tuple)

my_tuple = ("mouse",[8,4,6],(1,2,3))
# my_tuple[1] = 10
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [56]:
zoo = ('python','elephant','penguin')
print('Number of animals in the zoo is ',len(zoo))

zoo = ('\tmonkey','camel',zoo)
print("\t\tNumber of cages in the new zoo is ",len(zoo))
print("\t\t\tAll animals in new zoo are",zoo)
print('\t\tAnimals brought from old zoo are ',zoo[2])
print('\tLast animal brought from old zoo is ',zoo[2][2])
print('Number of animals in the new zoo is',len(zoo)-1+len(zoo[2]))

Number of animals in the zoo is  3
		Number of cages in the new zoo is  3
			All animals in new zoo are ('\tmonkey', 'camel', ('python', 'elephant', 'penguin'))
		Animals brought from old zoo are  ('python', 'elephant', 'penguin')
	Last animal brought from old zoo is  penguin
Number of animals in the new zoo is 5

In [62]:
tup1 = (12,34,56)
tup2 = ('abc','xyz')
print(tup1,end="\t")
print(tup2)
tup3 = tup1 + tup2
print(tup3)

(12, 34, 56)	('abc', 'xyz')
(12, 34, 56, 'abc', 'xyz')

In [69]:
tup = ('physics','chemistry',1997,2000)

print(tup)


try :
  del tup[1]
except:
  print("tuple object doesn't support item deletion")


del tup
print('After deleting up : ')


try :
  print(tup)
except:
  print("tuple object doesn't found in the memory")

('physics', 'chemistry', 1997, 2000)
tuple object doesn't support item deletion
After deleting up :
tuple object doesn't found in the memory

In [74]:
my_dic = {'sun':68.8,'mon':70.2,'tue':67.2,'wed':71.8}
my_dic1= {'sun':68.8,'mon':70.1,'tue':67.2,'wed':71.8}
my_dic2= {'sun':68.7,'mon':70.1,'tue':67.2,'wed':71.8}
print("comparing dictionary one and two :",my_dic1 == my_dic2)
for key,value in my_dic.items():
  print(f'{key} = {value}')

comparing dictionary one and two : False
sun = 68.8
mon = 70.2
tue = 67.2
wed = 71.8

In [75]:
my_dic['thu'] = 45.7
print(my_dic)

{'sun': 68.8, 'mon': 70.2, 'tue': 67.2, 'wed': 71.8, 'thu': 45.7}

In [82]:
dic = {'Name': 'Zara','Age':7,'Class':'First'}
dic['Age'] = 8
dic['School'] = "DPS School" 
print(dic.keys())
print("dic['Age'] = ",dic['Age'])
print("dic['School'] = ",dic['School'])

dict_keys(['Name', 'Age', 'Class', 'School'])
dic['Age'] =  8
dic['School'] =  DPS School

In [83]:
del dic['School']
dic.clear()
del dic
try:
  print("dic['Age'] = ",dic['Age'])
  print("dic['School'] = ",dic['School'])
except:
  print("dictionary object doesn't found in the memory")

dictionary object doesn't found in the memory

In [86]:
tem = {'mon':34.5,'tue':35.1,'wed':45.1,'thu':31.2,'fri':49.2,'sat':34.0,'sun':23.6}
for key,values in tem.items():
  print(f"{key} : {values}")

mon : 34.5
tue : 35.1
wed : 45.1
thu : 31.2
fri : 49.2
sat : 34.0
sun : 23.6